body{
font:$(body.text);
color:var(--bs-body-color);
background-color:var(--bs-body-bg);
line-height:1.5;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
text-rendering:optimizeLegibility
}
.d-block{
display:none
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
font:$(posts.title)
}
a{
transition-property:background-color,border-color,color,fill,stroke;
transition-timing-function:cubic-bezier(.4,0,.2,1);
transition-duration:.3s;
text-decoration:none;
color:var(--rd-link-color)
}
a:hover{
color:var(--rd-link-hover)
}
.fs-7{
font-size:.875rem
}
.fs-8{
font-size:.75rem
}
.fs-9{
font-size:.7rem
}
.btn{
box-shadow:none!important
}
.btn-sm{
min-width:32px;
min-height:32px
}
img,svg,iframe{
max-width:100%
}
img{
height:auto;
object-fit:cover
}
label{
cursor:pointer
}
.visually-hidden{
position:unset!important
}
.form-control:focus{
box-shadow:none;
border-color:var(--rd-primary)
}
.form-control::placeholder{
opacity:.5
}
.dropdown-toggle::after{
border-width:.25em .25em 0
}
.dropdown-menu{
margin:0;
padding:0
}
.px-3{
padding-right:1rem;
padding-left:1rem
}
.ratio:before{
content:none
}
.ratio-1x1{
padding-bottom:100%
}
.ratio-4x3{
padding-bottom:75%
}
.ratio-16x9{
padding-bottom:56.25%
}
.ratio-21x9{
padding-bottom:43%
}
.object-cover{
object-fit:cover
}
.max-w-80{
max-width:80%
}
.rd-text-primary,.hover-text-primary:hover,input:checked~.check-text-primary{
color:var(--rd-primary)!important
}
.rd-btn-primary,.rd-btn-outline-primary:hover{
color:#fff;
background-color:var(--rd-btn-primary);
border-color:var(--rd-btn-primary)
}
.rd-btn-light{
color:var(--bs-body-color);
background-color:var(--rd-bg-light);
border-color:var(--rd-bg-light)
}
.rd-btn-light:hover{
color:var(--rd-btn-light-hover)
}
.rd-btn-primary:hover,.hover-btn-primary:hover,input:checked+.rd-btn-outline-primary{
color:#fff!important;
background-color:var(--rd-btn-primary-hover)!important;
border-color:var(--rd-btn-primary-hover)!important
}
.rd-btn-outline-primary{
color:var(--rd-btn-primary);
border-color:var(--rd-btn-primary)
}
.rd-bg-primary{
background-color:var(--rd-primary)
}
.rd-bg-light{
background-color:var(--rd-bg-light)
}
.bg-archive{
background-color:var(--rd-archive-bg)
}
.rd-border-light{
border-color:var(--rd-border-light)!important
}
input:checked~.d-block-check{
display:block!important
}
input:checked~.d-none-check{
display:none!important
}
.dropdown-menu,.accordion-item,.accordion-header{
background-color:var(--bs-body-bg);
color:var(--bs-body-color);
border-color:var(--rd-border-light)
}
.lazyload{
transition-property:opacity;
transition-timing-function:cubic-bezier(.4,0,.2,1);
transition-duration:.3s;
opacity:0
}
.lazyload.loaded{
opacity:1
}
.cursor-default{
cursor:default!important
}
.drag-scroll{
cursor:grab
}
.drag-scroll.row>*{
scroll-snap-align:center
}
.drag-scroll.row>*{
max-width:80%
}
.drag-scroll.row-cols-2>*{
max-width:45%
}
pre{
background-color:var(--rd-bg-light);
margin-bottom:1rem;
padding:1rem;
font-size:.75rem
}
blockquote{
border-left:5px solid var(--rd-blockquote);
color:inherit;
font-size:1.125rem;
margin-bottom:1.5rem;
margin-top:1.5rem;
padding-left:1rem
}
.header-animate.header-hidden{
transform:translateY(-100%);
box-shadow:none!important
}
#header{
}
.header-social{
border-right:1px solid var(--rd-header-border)
}
.rd-icon{
display:inline-block;
height:1em;
vertical-align:-.15em;
width:1em;
fill:none;
stroke:currentColor;
stroke-linecap:round;
stroke-linejoin:round;
stroke-width:2
}
.rd-icon-center{
font-family:sans-serif
}
.icon-dark,.dark-mode .icon-light{
display:none
}
.dark-mode .icon-dark{
display:block
}
#dark-toggler,#search-toggler,#navbar-toggler{
line-height:1
}
#dark-toggler{
font-size:17px
}
#footer{
background-color:var(--rd-footer-bg);
color:var(--rd-footer-color);
border-top:1px solid var(--rd-footer-border)
}
#socket{
background-color:var(--rd-socket-bg);
color:var(--rd-socket-color)
}
#navbar{
z-index:9999
}
#navbar .menu-item{
position:relative
}
#navbar .nav-link{
min-height:40px
}
#navbar .dropdown-toggle{
cursor:pointer;
align-items:center;
display:flex
}
#navbar.d-block,#navbar .dropdown-menu,#navbar .nav-link,#navbar .dropdown-toggle{
-webkit-transition:.3s;
-ms-transition:.3s;
-o-transition:.3s;
transition:.3s
}
#navbar .navbar-nav>.menu-item>.nav-link{
font:$(tabs.font);
line-height:1.5;
color:var(--rd-nav-color)
}
#navbar .navbar-nav>.menu-item:hover>.nav-link,#navbar .navbar-nav>.menu-item:hover>.dropdown-toggle{
color:var(--rd-nav-hover)
}
#navbar .navbar-nav>.menu-item>.nav-link.active,#navbar .navbar-nav>.menu-item>.active~.dropdown-toggle{
color:var(--rd-nav-selected)
}
.logo-wrap{
width:$(logo.width)
}
#search-header .dropdown-menu{
background-color:var(--rd-dropdown-bg);
color:var(--rd-dropdown-color);
border-color:var(--rd-header-border);
min-width:300px;
right:0;
top:100%
}
.blog-admin{
display:none
}
#pagination li+li{
margin-left:5px
}
.no-items{
display:none
}
.feature-image,.separator,.tr-caption-container{
margin-bottom:1rem
}
.tr-caption-container{
width:100%
}
.separator a,.tr-caption-container a{
margin:0!important;
padding:0!important
}
.tr-caption{
font-size:12px;
font-style:italic
}
#special-home{
margin-bottom:1.5rem
}
.section>.widget:last-child,#special-categories>.widget{
margin-bottom:0!important
}
#post-body .widget{
margin-top:1.5rem
}
.item-title{
color:var(--rd-heading-link)
}
.item-title{
-webkit-line-clamp:2;
-webkit-box-orient:vertical;
display:-webkit-box;
text-overflow:ellipsis;
overflow:hidden
}
.item-title:hover{
color:var(--rd-heading-hover)
}
#comment-editor{
width:100%
}
#primary .widget-title{
font-weight:300;
text-transform:uppercase
}
#footer .widget-title{
text-transform:uppercase
}
#footer .widget-title,#sidebar .widget-title{
font-size:13px!important
}
#footer .widget-title:after{
content:"";
display:block;
width:50px;
border-bottom:2px solid var(--rd-primary);
margin-top:10px
}
#primary .widget-title>span{
background-color:var(--bs-body-bg);
padding-right:5px;
position:relative
}
#main .widget-title:before,#sidebar .widget-title:before{
background-color:var(--rd-bg-light);
content:"";
height:1px;
display:block;
position:absolute;
top:50%;
transform:translateY(-50%);
width:100%
}
#main .widget-title:before{
border-right:30px solid var(--rd-primary);
height:5px
}
.send-success:not(.loading) .contact-form-msg,.send-error:not(.loading) .contact-form-msg{
display:block!important
}
.send-success .contact-form-msg{
border-color:rgba(25,135,84,.3)!important
}
.send-error .contact-form-msg{
border-color:rgba(255,193,7,.3)!important
}
.send-success .contact-form-msg:before{
content:attr(data-success)
}
.send-error .contact-form-msg:before{
content:attr(data-error)
}
hr.example-ads:before{
content:"Advertisement here"
}
hr.example-ads{
background-color:var(--rd-bg-light);
border-radius:.25rem;
font-size:.875rem;
height:auto;
margin:0;
opacity:1;
padding:1.5rem 0;
text-align:center
}
.blog-archive>ul{
border:none!important;
padding-left:0!important
}
body>.google-auto-placed{
margin:0 auto 1.5rem;
max-width:1108px
}
.google-auto-placed>ins{
margin:0!important
}
.pop-bottom{
background-color:var(--rd-popup-bg);
animation:5s cubic-bezier(.60,.04,.98,.335) fadeIn;
box-shadow:0 -.125rem 1rem rgba(0,0,0,.1)
}
.pop-bottom-toggle{
background-color:var(--rd-popup-bg);
box-shadow:6px -6px 1rem rgba(0,0,0,.1)
}
@keyframes fadeIn{
0%{
opacity:0;
pointer-events:none;
transform:translateY(75%)
}
75%{
opacity:0;
pointer-events:unset
}
100%{
opacity:1;
transform:translateY(0)
}
}
.h1,h1{
font-size:calc(1.375rem + 1.5vw)
}
.h2,h2{
font-size:calc(1.325rem + .9vw)
}
.h3,h3{
font-size:calc(1.3rem + .6vw)
}
.h4,h4{
font-size:calc(1.275rem + .3vw)
}
.h5,h5{
font-size:$(title.h5)
}
.h6,h6{
font-size:$(title.h6)
}
.entry-title{
color:var(--rd-heading-color)
}
.entry-text h1,.entry-text h2,.entry-text h3,.entry-text h4,.entry-text h5,.entry-text h6{
color:var(--rd-heading-color);
padding-top:1em;
margin-bottom:1rem
}
.entry-text li{
margin-bottom:.5rem
}
@media (min-width:576px){
.drag-scroll.row-cols-sm-2>*{
max-width:40%
}
.drag-scroll.flex-lg-wrap{
cursor:default
}
.drag-scroll.flex-sm-wrap>*{
max-width:none
}
.ratio-sm-4x3{
padding-bottom:75%
}
.ratio-sm-16x9{
padding-bottom:56.25%
}
#post-pager .next-page{
border-left:1px solid
}
}
@media (min-width:768px){
.fs-md-4{
font-size:calc(1.275rem + .3vw)!important
}
.fs-md-5{
font-size:1.25rem!important
}
.fs-md-6{
font-size:1rem!important
}
.fs-md-7{
font-size:0.875rem!important
}
.drag-scroll.row-cols-md-3>*{
max-width:30%
}
.drag-scroll.flex-lg-wrap{
cursor:default
}
.drag-scroll.flex-md-wrap>*{
max-width:none
}
.position-md-relative{
position:relative
}
.border-md-end{
border-right-width:1px!important;
border-right-style:solid
}
}
@media (min-width:992px){
.d-lg-flex{
display:flex
}
.col-lg-4{
flex:0 0 auto;
width:33.33333333%
}
.col-lg-8{
flex:0 0 auto;
width:66.66666667%
}
.drag-scroll.row-cols-lg-4>*{
max-width:23%
}
.drag-scroll.flex-lg-wrap{
cursor:default
}
.drag-scroll.flex-lg-wrap>*{
max-width:none
}
.border-lg-end{
border-right-width:1px!important;
border-right-style:solid
}
#navbar .navbar-nav>.menu-item{
display:flex
}
#navbar .dropdown-menu{
background-color:var(--rd-dropdown-bg);
border-color:var(--rd-header-border);
margin-top:-10px;
display:block;
opacity:0;
visibility:hidden;
pointer-events:none;
box-shadow:5px 10px 10px -5px rgba(0,0,0,.14);
top:100%;
min-width:150px
}
#navbar .dropdown-menu .nav-link{
padding-right:20px;
font-size:$(dropdown.font);
color:var(--rd-dropdown-color)
}
#navbar .dropdown-menu .dropdown-toggle{
position:absolute;
right:10px;
top:20px
}
#navbar .dropdown-menu .dropdown-menu{
left:100%;
top:-1px
}
#navbar .dropdown-menu .menu-item:hover>.nav-link,#navbar .dropdown-menu .menu-item:hover>.dropdown-toggle{
color:var(--rd-dropdown-hover)
}
#navbar .dropdown-menu .menu-item>.nav-link.active,#navbar .dropdown-menu .menu-item>.active~.dropdown-toggle{
color:var(--rd-dropdown-selected)
}
#navbar .menu-item:hover>.dropdown-menu{
opacity:1;
visibility:visible;
pointer-events:unset;
margin:0
}
#navbar .navbar-nav>.menu-item>.nav-link{
padding:1.5rem 1.2rem;
white-space:nowrap
}
#navbar .navbar-nav>.menu-item>.dropdown-toggle{
bottom:0;
pointer-events:none;
position:absolute;
right:5px;
top:3px
}
#footer-widget .widget{
margin-bottom:0!important
}
#sidebar{
border-left:1px solid var(--rd-border-light)
}
}
@media (min-width:1200px){
.container {
max-width:1140px
}
.fs-md-4{
font-size:1.5rem!important
}
.h1,h1{
font-size:$(posts.title.size)
}
.h2,h2{
font-size:$(title.h2)
}
.h3,h3{
font-size:$(title.h3)
}
.h4,h4{
font-size:$(title.h4)
}
}
@media (min-width:1600px){
.container {
max-width:1500px
}
}
@media (max-width:991.98px){
.drag-scroll{
overflow-x:auto!important;
scroll-snap-type:x mandatory
}
input:checked~.dropdown-menu{
display:block
}
input:checked+.dropdown-toggle{
color:var(--rd-dropdown-selected)
}
.logo-wrap{
width:$(logo.width.mobile)
}
#search-header .dropdown-menu{
width:100%
}
#navbar{
background-color:var(--rd-header-bg);
padding-top:70px;
padding-bottom:30px;
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
width:auto
}
#navbar.d-block{
opacity:0;
transform:translateX(-20%)
}
#navbar.show{
transform:translateX(0);
opacity:1
}
#navbar .navbar-nav{
max-height:100%;
overflow-y:auto
}
#navbar .nav-link{
border-bottom:1px solid var(--rd-header-border);
font-size:16px!important;
color:var(--rd-dropdown-color)
}
#navbar .menu-item:hover>.nav-link{
color:var(--rd-dropdown-hover)
}
#navbar .active>.nav-link{
color:var(--rd-dropdown-selected)
}
#navbar .dropdown-toggle{
border-left:1px solid var(--rd-header-border);
height:2.5rem;
padding:0 1rem;
position:absolute;
right:0;
top:0
}
#navbar .dropdown-menu{
background-color:var(--rd-dropdown-bg);
border:none;
padding-left:10px
}
#sidebar{
border-top: 1px solid var(--rd-border-light);
}
}
@media (max-width:575.98px){
#post-pager .prev-page+.next-page{
border-top:1px solid
}
.full-width,.px-3 .google-auto-placed{
margin-left:-1rem;
margin-right:-1rem;
width:auto!important
}
#footer-widget .widget{
padding-left:3rem;
padding-right:3rem}
}
